@use 'reset';
@use 'vars';

body {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 2rem;
  margin: 2rem auto;
}

section {
  margin: 8rem auto 0 auto;
}



/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
