.about {
  flex-direction: column;
  z-index: 2;
}

.about-container {
  display: flex;
  flex-direction: column;
  margin: auto;

  img {
    width: 80%;
    margin: 2.2rem auto;
  }

  p {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5rem;
    font-size: 1rem;
    text-align:center;
    // width: 100px;
  }
}

@media (min-width:400px ) {

  .about-container {
    img {
      width: 350px !important;
    }
  }
}
