.about {
  flex-direction: column;
  z-index: 2;
}

.about-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  // flex-wrap: wrap;

  img {
    width: 80%;
    margin: 2.2rem auto;
  }

  p {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5rem;
    font-size: 1rem;
    text-align:left;
    // width: 100px;
  }

  .about-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width:400px ) {

  .about-container {
    img {
      width: 280px !important;
    }
  }
}

@media (min-width:1400px ) {

  .about-container {
      flex-direction: row;
  }
}
