.header-wrapper{
  background-color: rgb(255, 255, 255);
  height:100vh;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
}


.title-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title-wrapper h1{
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.title-wrapper p{
  color: rgb(0, 0, 0);
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight:300;
}

.title-wrapper .logo {
  margin-bottom: 2rem;
  height:80px;
  aspect-ratio: 1/2;
  max-height: 100px;
}

/* --------------------HEADER BUTTON------------------------ */

.title-wrapper .header-button{
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0);
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 300;
  padding: 6px 1rem 0.6rem 1rem;
  cursor: pointer;
  display: block;
}

.header-button a{
  text-decoration: none;
}

.title-wrapper a {
  height: 100%;
  text-decoration: none;
}

.title-wrapper .header-button:hover{
  // background-color: #436886;
}

.header-button img {
  // height: 2rem;
  width: 1.2rem;
  margin-left: .6rem;
  aspect-ratio: 1/1;
  position: relative;
  top: 3px;
}

.header-button:hover img {
  transform: rotate(90deg);
  transition: all 400ms;
  // margin-left: 1rem;  /* ajusté pour maintenir la taille constante */
  // margin-right: 0.5rem; /* ajusté pour maintenir la taille constante */
  transform-origin: center; /* rotation autour du centre de l'image */
}

/* -----------------------FIN HEADER BUTTON----------------------- */
