nav {
  /* margin-bottom: 3rem !important; */
  background-color: #436886 !important;
  color: white !important;
  /* display: block; */
}

nav a {
  color: white !important;
  margin: 0 4rem;

}

.sticky-top-navbar {
  z-index: 10000;
  position: fixed !important;
  top: 0px;
  width: 100%;
}

.nav-menu-container {
  justify-content: center;

  ul {
    width: 70%;
    justify-content: space-around;
    margin-left: -8rem;
  }
}
