nav {
  /* margin-bottom: 3rem !important; */
  background-color: #ffffff !important;
  color: rgb(0, 0, 0) !important;
  /* display: block; */
}

nav a {
  color: rgb(0, 0, 0) !important;
  margin: 0 4rem;

}

.sticky-top-navbar {
  z-index: 999;
  position: fixed !important;
  top: 0px;
  width: 100%;
}

.nav-menu-container {
  justify-content: center;

  ul {
    width: 100%;
    justify-content: space-around;
    // margin-left: -8rem;

    li {
      width: 100%;
    }

    a {
      width: 100%;
      margin: auto;
    }
  }
}

.overlayed {
  background-color: #43688600!important;
}

@media (min-width: 993px) {
  ul {
    width: 70% !important;
    margin-left: -8rem !important;

    li {
      // width: 80%;
      
      a {
        &:hover {
          scale: 1.05;
          // text-decoration: underline;
        }
      }
    }
  }
}
